<li class="chat-list-item">
    <div class="chat-list-item_container">
        <div class="chat-list-item_userpic-container">
<!--            <img alt="userpic">-->
        </div>
        <div class="chat-list-item_message-wrapper">
            <span class="chat-list-item_name">Андрей</span>
<!--            <span>Изображение</span>-->
            <div class="chat-list-item_message-container">
                <span>Вы:</span>
                <span>Круто!</span>
            </div>
        </div>
        <div class="chat-list-item_time-wrapper">
            <span class="chat-list-item_time">10:49</span>
            <span class="chat-list-item-counter">2</span>
        </div>
    </div>
</li>
