{{!< layout}}

<main class="main">
    <div class="auth-container">
        <div class="auth-form-container">
            <h1 class="auth-header">Регистрация</h1>
            <div class="inputs-container--reg">
                <div class="input-wrapper">
                    {{> "input/input" }}
                </div>

                <div class="input-wrapper">
                    {{> "input/input" }}
                </div>

                <div class="input-wrapper">
                    {{> "input/input" }}
                </div>

                <div class="input-wrapper">
                    {{> "input/input" }}
                </div>

                <div class="input-wrapper">
                    {{> "input/input" }}
                </div>

                <div class="input-wrapper">
                    {{> "input/input" }}
                </div>

                <div class="input-wrapper">
                    {{> "input/input" }}
                </div>
            </div>

            <div class="auth-button-container">
                {{> "button/button" }}
            </div>

            {{> "linkButton/linkButton" }}
        </div>
    </div>
</main>
