.input-wrapper {
  margin-bottom: 16px;
}

.inputs-container {
  margin-bottom: 143px;
  width: 100%;
}

.inputs-container--reg {
  margin-bottom: 30px;
}

.auth-button-container {
  margin-bottom: 14px;
  width: 100%;
}
