.chat-header_userpic-wrapper {
  width: 34px;
  height: 34px;
  background: #EFEFEF;
  border-radius: 30px;
  margin-right: 10px;
}

.chat-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #EAEAEA;
}

.chat-header_user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 13px;
  color: #1E1E1E;
}
