<div class="chat-header">
    <div class="chat-header_user-info">
        <div class="chat-header_userpic-wrapper">
            <!--            <img alt="userpic">-->
        </div>
        <span>Вадим</span>
    </div>

    {{> "dottedButton/dottedButton"}}
</div>
