{{!< layout}}

<main class="main">
    <div class="error-page_container">
        <h1 class="error-page_code-name">500</h1>
        <span class="error-page_code-name-description">Мы уже фиксим</span>
        {{> "linkButton/linkButton"}}
    </div>
</main>
