<div class="chat-sidebar">
    <div class="chat-sidebar_header">
        <div class="profile-button-wrapper">
            <a class="profile-button">Профиль ></a>
        </div>

        <div>
            {{> "searchInput/searchInput"}}
        </div>
    </div>



    <ul class="chat-list">
        {{> "chatItem/chatItem"}}
        {{> "chatItem/chatItem"}}
        {{> "chatItem/chatItem"}}
    </ul>
</div>
