<div class="chat-main">
    {{> "chatMainHeader/chatMainHeader"}}
    {{> "chatMessages/chatMessages"}}
    <div class="chat-main_footer">
        {{> "addFileButton/addFileButton"}}
        {{> "sendMessageInput/sendMessageInput"}}
        {{> "roundedButton/roundedButton"}}
    </div>
</div>

