<ul>
    <li>
        <a href="./pages/login/login.hbs">Login</a>
    </li>
    <li>
        <a href="./pages/register/register.hbs">Register</a>
    </li>
    <li>
        <a href="./pages/chat/chat.hbs">Chat</a>
    </li>
    <li>
        <a href="./pages/settings/settings.hbs">Settings</a>
    </li>
    <li>
        <a href="./pages/404/404.hbs">404</a>
    </li>
    <li>
        <a href="./pages/500/500.hbs">500</a>
    </li>
</ul>
