<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../styles/styles.scss">
</head>
<body class="container">
    <div class="desktop-container">
        {{> "header/header" }}
        {{{body}}}
    </div>
</body>
</html>
