.settings-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #EAEAEA;
}

.settings-item_name {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #1E1E1E;
}

.settings-item_value {
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #999999;
}
